p{
    /* border-style: dotted;
    border-width: 5px;
    border-color: brown; */
     border: 5px dotted brown;
    /*margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px; 
    margin:50px;*/
padding:50px;
width: 500px;
}
.box2{
    border:2px solid gray;
}
.box3{
    border:2px solid lightcoral;
}