/* *{margin:0;
    padding:0;
    box-sizing: border-box; */
/* } */

.box1{
    border: 5px solid red;
    margin:50px;
    padding: 50px;
    width: 500px;
    margin: 0 auto;

}
.box2{
    border: 5px solid green;
    margin: 50px;
    padding: 50px;
    width: 500px;
    box-sizing: border-box;
}